{%load staticfiles %}

<!DOCTYPE html>
<html>
<title>Employee Will Remain</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src=" https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link href="{% static 'data/css_in.css' %}" type="text/css" rel="stylesheet"/>
<body>
</body>
 
<h1>According To Your Given Information percentage of Employee to stay is "{{ resp }}"</h1>
</html>
